<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/img_1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='information.css') }}">
    <title>Інформація</title>
</head>
<body>
    <div class="blur-container">
        <header>
            <div class="general_logo">
                <p>Інформація про Quiz</p>
            </div>
        </header>
        <main>
            <section>
                <h2>Квіз-сайт</h2>
                <p>Ефективний маркетинговий інструмент, що базується на гейміфікації взаємодії з користувачем. Принцип квізу дуже простий: користувачеві пропонують відповісти на кілька питань у форматі тесту, а за результатами аналізу його відповідей обіцяють дати щось корисне чи цікаве.</p>
            </section>
            <section>
                <p>Наприклад, класично-гумористичний тест “Який ви торт?” із соцмереж – одне з різновидів квізу; пропозиція відповісти на кілька питань для розрахунку вартості консультації адвоката – теж квіз; навіть коли на сайті для дорослих у вас запитують: «Чоловік ви чи жінка?» — це хоч і коротенький, але варіант квіза.</p>
            </section>
            <section>
                <p>У сайти-квізи завжди закладено три ключові цілі: мотивувати користувача на взаємодію — залучити до участі в опитуванні; отримати від нього певну інформацію – відповіді та контактні дані; автоматично сформувати максимально персоналізовану пропозицію – результат аналізу відповідей. Виглядає складно, але не поспішайте – в рамках статті ми поступово з усім розберемося.</p>
            </section>
        </main>
    </div>

</body>
</html>