<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правила гри</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/img_1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='rules.css') }}">
</head>
<body>
    <div class="blur-container">
        <header>
            <div class="general_logo">
                <p>Quiz – це гра в якій ти розвиваєш свою логіку</p>
            </div>
        </header>
        <main>
            <section>
                <h2>Правила Квізу</h2>
                <p>Правила Квізу можуть варіюватися залежно від організаторів. Зазвичай, учасники отримують запитання, на які вони повинні дати відповідь. За правильну відповідь надаються бали, а переможець визначається за найбільшою кількістю балів.</p>
            </section>
            <section>
                <h2>Різновиди Квізу</h2>
                <p>Існує багато різновидів Квізу. Деякі з них вимагають відповіді на питання з різних галузей знань, тоді як інші можуть бути спеціалізовані на конкретній тематиці, наприклад, музикальний Квіз або Квіз про фільми.</p>
            </section>
            <section>
                <h2>Раунди гри</h2>
                <p>Гра має 4 тематичних раунди, по 6 запитань кожний. На кожне запитання – 30 с. Команди слухають питання, дають відповіді. Кожен раунд – своя тема: «Правда/хиба», «Питання-відповідь», «Ребус», «Світлина». Правильна відповідь – 1 бал.</p>
            </section>
            <section>
                <h2>Тематика на вибір</h2>
                <p>Більш ніж 50 різних тематик на вибір. Також ми готові написати ігровий раунд по вашим побажанням.</p>
            </section>
        </main>
    </div>
</body>
</html>